<% if @name %>
<h1>My name is <%= @name %></h1>
<% end %>

<div style='border: 3px dashed red'>
  <img src='https://images.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'>
</div>
